In [1]:
import pandas as pd
import numpy as np 
from pandas.api.types import CategoricalDtype
from datetime import datetime

## movies metadata file cleaning

In [2]:
movies_df = pd.read_csv("Data/movies_metadata.csv")

/var/folders/j1/rhs6cm1s6r33j2qkcxx0f8kr0000gn/T/ipykernel_13161/2760051603.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv("Data/movies_metadata.csv")

In [3]:
movies_df.index.min()
movies_df.index.max()

45465

In [4]:
data_df = movies_df.drop(columns = ["adult","belongs_to_collection","homepage" ,"tagline","status","production_companies","production_countries",
                         "revenue","video"] , inplace= False)

In [5]:
data_df.isnull().sum()

budget                 0
genres                 0
id                     0
imdb_id               17
original_language     11
original_title         0
overview             954
popularity             5
poster_path          386
release_date          87
runtime              263
spoken_languages       6
title                  6
vote_average           6
vote_count             6
dtype: int64

In [6]:
data_df[data_df['vote_average'].isnull()] = 0
data_df[data_df['vote_count'].isnull()] = 0

In [7]:
data_df.isnull().sum()

budget                 0
genres                 0
id                     0
imdb_id               17
original_language     11
original_title         0
overview             954
popularity             0
poster_path          383
release_date          84
runtime              257
spoken_languages       0
title                  0
vote_average           0
vote_count             0
dtype: int64

In [8]:
data_df.drop(columns="budget" , inplace=True)

In [9]:
data_df.isnull().sum()

genres                 0
id                     0
imdb_id               17
original_language     11
original_title         0
overview             954
popularity             0
poster_path          383
release_date          84
runtime              257
spoken_languages       0
title                  0
vote_average           0
vote_count             0
dtype: int64

In [10]:
data_df['overview']= data_df['overview'].fillna(data_df['title'])

In [11]:
data_df[data_df['runtime'].isnull()] = data_df['runtime'].mean()

In [12]:
data_df.drop(columns="poster_path" , inplace=True)

In [13]:
data_df.isnull().sum()

genres                0
id                    0
imdb_id              15
original_language    11
original_title        0
overview              0
popularity            0
release_date         73
runtime               0
spoken_languages      0
title                 0
vote_average          0
vote_count            0
dtype: int64

In [14]:
data_df["original_language"] = data_df['original_language'].fillna(data_df.spoken_languages[1])

In [15]:
data_df.head()

,genres,id,imdb_id,original_language,original_title,overview,popularity,release_date,runtime,spoken_languages,title,vote_average,vote_count
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0

In [16]:
data_df.isnull().sum()

genres                0
id                    0
imdb_id              15
original_language     0
original_title        0
overview              0
popularity            0
release_date         73
runtime               0
spoken_languages      0
title                 0
vote_average          0
vote_count            0
dtype: int64

In [17]:
data_df = data_df[pd.to_datetime(data_df["release_date"],errors='coerce').notnull()]
data_df['release_date'] = pd.to_datetime(data_df['release_date'])

In [18]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45130 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             45130 non-null  object
 1   id                 45130 non-null  object
 2   imdb_id            45118 non-null  object
 3   original_language  45130 non-null  object
 4   original_title     45130 non-null  object
 5   overview           45130 non-null  object
 6   popularity         45130 non-null  object
 7   release_date       45130 non-null  datetime64[ns]
 8   runtime            45130 non-null  float64
 9   spoken_languages   45130 non-null  object
 10  title              45130 non-null  object
 11  vote_average       45130 non-null  float64
 12  vote_count         45130 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 4.8+ MB

In [19]:
data_df[data_df['release_date'].isnull()] = data_df['release_date'].mean()

In [20]:
data_df.isnull().sum()

genres                0
id                    0
imdb_id              12
original_language     0
original_title        0
overview              0
popularity            0
release_date          0
runtime               0
spoken_languages      0
title                 0
vote_average          0
vote_count            0
dtype: int64

In [21]:
data_df[data_df['imdb_id'].isnull()] = "Unknown"

In [22]:
#sanity check
data_df.isnull().sum()

genres               0
id                   0
imdb_id              0
original_language    0
original_title       0
overview             0
popularity           0
release_date         0
runtime              0
spoken_languages     0
title                0
vote_average         0
vote_count           0
dtype: int64

In [23]:
data_df.head(1)

,genres,id,imdb_id,original_language,original_title,overview,popularity,release_date,runtime,spoken_languages,title,vote_average,vote_count
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30 00:00:00,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0

## ratings file cleaning

In [24]:
ratings_df = pd.read_csv("Data/ratings.csv")

In [25]:
ratings_df.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [26]:
#we're gonna drop the timestamp col
clean_ratings_df = ratings_df.drop(columns = "timestamp", inplace=False)

In [27]:
clean_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 595.6 MB

In [28]:
clean_ratings_df.isnull().sum()

userId     0
movieId    0
rating     0
dtype: int64

In [29]:
# no nulls

## cleaning the movies file

In [30]:
movies = pd.read_csv("Data/links.csv")

In [31]:
movies.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

### join the movies dataframe with data dataframe

In [32]:
data_df.rename(columns = {'id' : 'movieId'})

,genres,movieId,imdb_id,original_language,original_title,overview,popularity,release_date,runtime,spoken_languages,title,vote_average,vote_count
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30 00:00:00,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15 00:00:00,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,1995-12-22 00:00:00,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22 00:00:00,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10 00:00:00,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,1991-05-13 00:00:00,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Robin Hood,5.7,26.0
45462,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,2011-11-17 00:00:00,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01 00:00:00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,3.8,6.0
45464,[],227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,1917-10-21 00:00:00,87.0,[],Satan Triumphant,0.0,0.0
45465,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09 00:00:00,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,0.0,0.0

In [33]:
movies_data = movies.join(data_df,on = "movieId",how='right')

In [34]:
movies_data.isnull().sum()

movieId                  0
imdbId               34119
tmdbId               34162
genres                   0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
release_date             0
runtime                  0
spoken_languages         0
title                    0
vote_average             0
vote_count               0
dtype: int64

In [35]:
movies_data.drop(columns = ["imdbId","tmdbId"], inplace = True)

In [36]:
movies_data.duplicated().sum()

0

In [37]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45130 entries, nan to nan
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movieId            45130 non-null  int64
 1   genres             45130 non-null  object
 2   id                 45130 non-null  object
 3   imdb_id            45130 non-null  object
 4   original_language  45130 non-null  object
 5   original_title     45130 non-null  object
 6   overview           45130 non-null  object
 7   popularity         45130 non-null  object
 8   release_date       45130 non-null  object
 9   runtime            45130 non-null  object
 10  spoken_languages   45130 non-null  object
 11  title              45130 non-null  object
 12  vote_average       45130 non-null  object
 13  vote_count         45130 non-null  object
dtypes: int64(1), object(13)
memory usage: 5.2+ MB

### save the data frames into a csv file

In [38]:
movies_data.to_csv("movies.csv" , index= False)

In [39]:
clean_ratings_df.to_csv("ratings.csv" , index=False)

In [40]:
movies_data['genres'].values

array(["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",
       ...,
       "[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]",
       '[]', '[]'], dtype=object)

In [41]:
print(len(movies_data['genres']))

45130

In [45]:
genres_df = movies_data['genres']

In [47]:
genres_df.dtype

dtype('O')